
     <!DOCTYPE html>
     <html lang="en">

     <head>
          <link rel="stylesheet" href="~/Content/style.css">
          <meta charset="UTF-8">
          <title>Sistem de management al securității informaționale</title>
          <style>
               body {
                    font-family: 'Arial', sans-serif;
                    
               }

              
          </style>
     </head>
     <body>
          <header>
               <h1>Sistem de management al securității informaționale</h1>
               <p>Testează nivelul de securitate!</p>
          </header>

          @RenderBody()
          <div id="outerBox">
              
          </div>

     </body>
</html>

