@{
    ViewBag.Title = "Intrebare4";
}
@model LucruIndividualTSI.Model
<style>
    body {
        font-size: 12px;
        background-color: #9ec29c;
    }
</style>

<form action="@Url.Action("Intrebare4", "Home")" method="post">
    <div id="outerBox">
        <div id="quest">Compania utilizează criptarea pentru protejarea datelor sensibile stocate și transmise?</div>
        <div style="text-align: center; padding: 20px;">
            <input type="submit" name="response" value="Da" style="background-color: #4CAF50; color: black; padding: 20px 40px; text-align: center; text-decoration: none; display: inline-block; font-size: 24px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px;" />
            <input type="submit" name="response" value="Nu" style="background-color: #4CAF50; color: black; padding: 20px 40px; text-align: center; text-decoration: none; display: inline-block; font-size: 24px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px;" />
        </div>
    </div>
</form>
