@{
    ViewBag.Title = "Intrebare14";
}
@model LucruIndividualTSI.Model
<style>
    body {
        font-size: 12px;
        background-color: #294128;
        color: ghostwhite;
    }
</style>

<form action="@Url.Action("Intrebare14", "Home")" method="post">
    <div id="outerBox">
        <div id="quest">Există politici și proceduri pentru gestionarea patch-urilor de securitate?</div>
        <div style="text-align: center; padding: 20px;">
            <input type="submit" name="response" value="Da" style="background-color: #4CAF50; color: ghostwhite; padding: 20px 40px; text-align: center; text-decoration: none; display: inline-block; font-size: 24px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px;" />
            <input type="submit" name="response" value="Nu" style="background-color: #4CAF50; color: ghostwhite; padding: 20px 40px; text-align: center; text-decoration: none; display: inline-block; font-size: 24px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px;" />
        </div>
    </div>
</form>
