@{
    ViewBag.Title = "Intrebare5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LucruIndividualTSI.Model

<form action="@Url.Action("Intrebare5", "Home")" method="post">
     <div id="outerBox">
          <div id="quest">Compania are implementate măsuri de securitate pentru protecția rețelelor wireless?</div>
          <div style="text-align: center; padding: 20px;">
               <input type="submit" name="response" value="Da" style="background-color: #4CAF50; color: white; padding: 40px 70px; text-align: center; text-decoration: none; display: inline-block; font-size: 32px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px;" />
               <input type="submit" name="response" value="Nu" style="background-color: #4CAF50; color: white; padding: 40px 70px; text-align: center; text-decoration: none; display: inline-block; font-size: 32px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px;" />
          </div>
     </div>
</form>
